@charset "utf-8";
* {margin:0; padding:0;}
.notext {display:none;}
a,a:link {text-decoration:none;}
ul,li {list-style:none;}
body {
    font-size:16px;;
    color:rgb(49, 49, 49);
    font-family:'Nanum Gothic', sans-serif;
}
/* header 고정하기 */
.page-header {
    background-color:#fff;
    position: absolute;
    width: 100%;
    min-width:1200px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.102);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.102);
}
.page-header.sticky {
    position: fixed;
    top: 0;
}
.page-header > .inner {
    margin: auto;
    width: 1200px;
}
/* header 로고,메뉴 */
.logo img {
    width:300px;
    float:left;
    margin:0 80px 5px 0;
}
.menu {
    float:left;
}
.menu > ul > li {
    display:inline-block;
    height:60px;
    line-height:70px;
    margin-right:40px;
}
.menu > ul > li > a {
    font-size:16px;
    color:rgb(49, 49, 49);
    font-weight:bolder;
    padding:0 2px;
}
.menu > ul > li > a:hover {
    border-bottom:3px solid rgb(255, 136, 0);
}
/* header 비타민하우스 몰 바로가기 */
.malllink img {
    width:150px;
    margin:10px 10px 0 120px;
}
